@import url(reset.css);

@font-face {
  font-family: "momcake";
  src: url(/assets/fonts/MomcakeBold-WyonA.otf);
}

html,
body {
  height: 100vh;
  background-color: black;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 320px minmax(600px, 1fr);
  grid-template-rows: 200px minmax(700px, 1fr);
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.content {
  background-color: #dce2e5;
  box-shadow: inset 0 10px 5px #dadee0;
  grid-area: 2 / 2 / 6 / 3;
}

.sidebar {
  background-color: #2c8ec7;
  font-family: "momcake";
  color: white;
  grid-area: 1 / 1 / 6 / 2;
  display: grid;
  grid-template-rows: 150px 1fr 2fr;
  padding-left: 20px;
}

.dashboard {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 26px;
  grid-row: 1 / 2;
}

.nav-two {
  padding-top: 40px;
}

ul {
  padding: 0;
  margin-top: 0;
}

a {
  color: white;
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 26px;
  padding-left: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding-bottom: 30px;
}

.nav-one-list:first-child {
  padding-top: 20px;
}
